body {
  margin:5px 5%;  
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #f2f2f2;
  text-align:center;
  font-size:23px;
  width:100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding : 5px;
}
h2{
	color:#22577E;
}
h3 {
  color: #034370;
  font-family: 'Montserrat', sans-serif;
}

.icon_home{
	margin:10px;
	position:fixed;
	top:130px;
	left:40px;
	width:60px;
	
}
.icon_gallery{
	margin:10px;
	position:fixed;
	top:190px;
	left:40px;
	width:60px;
	
}
.icon_video{
	margin:10px;
	position:fixed;
	top:260px;
	left:40px;
	width:60px;
	
}
.icon_download{	
	margin:10px;
	position:fixed;
	top:380px;
	left:40px;
	width:60px;
}
.icon_about{
	margin:10px;
	position:fixed;
	top:450px;
	left:40px;
	width:60px;
}
.icon_table{
	margin:10px;
	position:fixed;
	top:320px;
	left:40px;
	width:60px;
}
.container {
  position: relative;
  width: 50%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: fixed;
  top: 110px;
  left: 80px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.active {
  background-color:#22577E;
  color: white;
}



.dropdown {
  float: left;
  overflow: hidden;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bottom-container {
  background-color: white;
  padding: 30px 0 20px;
}
.column1 {
  float: left;
  width: 10%;  
  margin-top:30px;
  margin-left:20px;
}
.logo{
   width:250px;    
   padding:0px 25px;
   margin:0px 1px;   
   height:51px;
   float:left;
}
.column3{
  float: left;
  width: 25%;
  margin-top:30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-bottom:28px;
}

.column_mid{
  width:58.5%;
  float: left;
  padding : 5px;
  margin-top:30px;
  margin-left:5px;
  margin-right:15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.copyright {
  font-size: 20px;
  padding: 20px 0;
}
.footer-link{
  text-decoration:none;
  padding:50px;

}

